/* Variables start */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --main-duration: 0.5s;
    --section-padding: 60px;
    --section-background: #f6f6f6;
}

/* End variables */
/* Start Globals */
* {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-inline-start: 40px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;


}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    color: #444;

}

html {
    scroll-behavior: smooth;
    line-height: 1.15;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    
    margin: 0 auto;
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;

}

.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
  }
  .special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
  }


/* End Globals */

/* Start navbar */
nav {
    padding: 20px;
}
nav .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 4rem;
}

nav .links .icon {
    width: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav .links .icon span {
    background-color: #000;
    height: 1.5px;
    margin-bottom: 5px;
}

nav .links .icon span:first-child {
    width: 100%;

}

nav .links .icon span:nth-child(2) {
    width: 50%;
    transition: ease-in-out var(--main-duration);

}

nav .links .icon span:nth-child(3) {
    width: 100%;
    height: 2px;

}

nav .links:hover .icon span:nth-child(2) {
    width: 100%;
    transition: ease-in-out var(--main-duration);
}

nav .links ul {
    display: none;
    position: absolute;
    z-index: 1;
    background: #2c47555b;
    margin: 0;
    padding: 0;
    right: 15px;
    min-width: 200px;
    top: 40px;


}

nav .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: #2c47555b transparent transparent #2c47555b;
    position: absolute;
    right: 5px;
    top: -15px;
    transform: rotate(45deg);

}


nav .links ul li:first-child,
nav .links ul li:nth-child(2),
nav .links ul li:nth-child(3),
nav .links ul li:nth-child(4) {
    border-bottom: 1px solid rgba(242, 235, 235, 0.36);
}

nav .links:hover ul {
    display: block;
}

nav .links ul li:hover a {
    padding-left: 10px;
    transition: ease-in-out var(--main-duration);
}

nav .links ul li:hover {
    background-color: #f3f5f6f4;
    cursor: pointer;
}

nav .links ul li {
    padding: 15px;
    transition: ease-in-out var(--main-duration);

}

/* End navbar */
/* Start header */
.header {
    background: url(../images/landing.jpg);
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
}

.header_text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header_text h1 {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}

.header_text p {
    font-size: 19px;
    line-height: 1.8;

}

/* End header */
/* Start features */
.features {
    padding: var(--section-padding);
    background-color: var(--section-background);
}
.features .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature {
    padding: 20px;
    text-align: center;
}

.feature h3 {
    font-weight: 800;
    margin: 30px 0;
}

.feature p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
.feature i{
    color: var(--main-color);
}
/* End features */
/* Start services */
.services{
    padding: var(--section-padding);
}
.services_content{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px,1fr));
    margin-top: 100px;
    grid-gap: 20px;
}
.services_content .col .item{
    display: flex;
    margin-bottom: 40px;
}
.services_content .col  .item .text{
    flex: 1;
}
.services_content .col  .item .text h3{
    margin: 0 0 20px;
}
.services_content .col .item .text p{
    font-weight: 300;
    line-height: 1.6;

}
.services_content .col .item i {
color: var(--main-color);
flex-basis: 60px;
}
.services_content .col .image{
    text-align: center;
    position: relative;
}
.services_content .col .image img{
    width: 260px;
        animation: wiggle 5s linear infinite;

}
.services_content .col .image::before{
    content: '';
    position: absolute;
    background-color: var(--secondary-color);
    right: 0;
    top: -50px;
    height: calc(100% + 100px);
    width: 100px;
    z-index: -20;

}
/* Keyframes */
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
/* End services  */

/* Start Portfolio */
.portfolio{
    padding: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio_cards{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px,1fr));
    margin-top: 100px;
    grid-gap: 20px;
}
.card{
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 0px 20px 20px;
    overflow: hidden;
    cursor: pointer;
}
.card img{
    width: 100%;

}
.card img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: all 2s;
}

.card_text{
    padding: 20px;
}

.card .card_text p{
    color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
/* End Portfolio */
/* Start About */
.about{
    padding: var(--section-padding);
}
.about_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.about_image {
    position: relative;
    width: 250px;
    height: 375px;
}
.about_image img{
    width: 100%;
    animation: wiggle 5s linear infinite;

}
.about_image::after{
    content: '';
    width: 100px;
    height: calc(100% + 80px);
    background-color: #ebeced;
    position: absolute;
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about_image::before{
    content: '';
border-left: 80px solid #10cab7  ; 
border-bottom: 80px solid #10cab7  ; 
   position: absolute;
    top: -40px;
    right: -150px;
    width: 120px;
    height: 300px;
    z-index: -1;
}
.about_text{
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 50%;
justify-content: space-around;
/* flex-basis: calc(100% - 500px); */
}
.about_text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about_text hr{
    border-color: var(--main-color);
    width: 50%;
}
.about_text p:last-of-type{
    line-height: 2;
    color: #777;
}
/* End About */
/* Start Contant */
.contact{
    padding: var(--section-padding);
    background-color: var(--section-background);
    text-align: center;
}
.contact_content{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.label{
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.email{
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.social-links{
    padding-top: 20px;
}
.social-links i{
    color: var(--secondary-color);
}
.social-links i:hover{
    transform: scale(1.5);
    color: #10cab7;
    cursor: pointer;
}
/* End Contant */

/* Start footer */
footer{
    background-color: var(--secondary-color);
    width: 100%;
    text-align: center;
    padding: 30px 10px;
    font-size: 18px;
    color: white;
}
footer span{
    color: var(--main-color);
}
/* End footer */