/* Variables start */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --main-duration: 0.5s;
    --section-padding: 60px;
    --section-background: #f6f6f6;
}

/* End variables */
/* Start Globals */
* {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-inline-start: 40px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;


}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    color: #444;

}

html {
    scroll-behavior: smooth;
    line-height: 1.15;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    
    margin: 0 auto;
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;

}
.heading-container{
    position: relative;
    width: 50%;
    margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
}
.special-heading{
    font-size: 100px;
    color: #ebeced;
    font-weight: 800;
    letter-spacing: -3px;

}
.heading-container p{
    color: #797979;
    font-size: 20px;
    margin: 0 ;
    position: absolute;
    display: flex;
    bottom: 8%;
    left: 25%;
    justify-content: center;
    width: 53%;
}

/* End Globals */

/* Start navbar */
nav {
    padding: 20px;
}
nav .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 4rem;
}

nav .links .icon {
    width: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav .links .icon span {
    background-color: #000;
    height: 1.5px;
    margin-bottom: 5px;
}

nav .links .icon span:first-child {
    width: 100%;

}

nav .links .icon span:nth-child(2) {
    width: 50%;
    transition: ease-in-out var(--main-duration);

}

nav .links .icon span:nth-child(3) {
    width: 100%;
    height: 2px;

}

nav .links:hover .icon span:nth-child(2) {
    width: 100%;
    transition: ease-in-out var(--main-duration);
}

nav .links ul {
    display: none;
    position: absolute;
    z-index: 1;
    background: #2c47555b;
    margin: 0;
    padding: 0;
    right: 15px;
    min-width: 200px;
    top: 40px;


}

nav .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: #2c47555b transparent transparent #2c47555b;
    position: absolute;
    right: 5px;
    top: -15px;
    transform: rotate(45deg);

}


nav .links ul li:first-child,
nav .links ul li:nth-child(2),
nav .links ul li:nth-child(3),
nav .links ul li:nth-child(4) {
    border-bottom: 1px solid rgba(242, 235, 235, 0.36);
}

nav .links:hover ul {
    display: block;
}

nav .links ul li:hover a {
    padding-left: 10px;
    transition: ease-in-out var(--main-duration);
}

nav .links ul li:hover {
    background-color: #f3f5f6f4;
    cursor: pointer;
}

nav .links ul li {
    padding: 15px;
    transition: ease-in-out var(--main-duration);

}

/* End navbar */
/* Start header */
.header {
    background: url(../images/landing.jpg);
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
}

.header_text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header_text h1 {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}

.header_text p {
    font-size: 19px;
    line-height: 1.8;

}

/* End header */
/* Start features */
.features {
    padding: var(--section-padding);
    background-color: var(--section-background);
}
.features .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature {
    padding: 20px;
    text-align: center;
}

.feature h3 {
    font-weight: 800;
    margin: 30px 0;
}

.feature p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
.feature i{
    color: var(--main-color);
}
/* End features */
/* Start services */
.services{
    padding: var(--section-padding);
}
.services_content{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px,1fr));
    margin-top: 100px;
    grid-gap: 20px;
}
.services_content .col .item{
    display: flex;
    margin-bottom: 40px;
}
.services_content .col  .item .text{
    flex: 1;
}
.services_content .col  .item .text h3{
    margin: 0 0 20px;
}
.services_content .col .item .text p{
    font-weight: 300;
    line-height: 1.6;

}
.services_content .col .item i {
color: var(--main-color);
flex-basis: 60px;
}
.services_content .col .image{
    text-align: center;
    position: relative;
}
.services_content .col .image img{
    width: 260px;
}
.services_content .col .image::before{
    content: '';
    position: absolute;
    background-color: var(--secondary-color);
    right: 0;
    top: -50px;
    height: calc(100% + 100px);
    width: 100px;
    z-index: -20;

}
/* End services  */